body {
  font-family: "Quicksand", sans-serif;
  /* font-family: "Patrick Hand", cursive; */
  overflow-x: hidden;
}

h1,
h2,
h3 {
  /* font-family: "Grand Hotel", cursive; */
  font-family: "Patrick Hand", cursive;
}

/* header style */

.firstheaderrow {
  padding: 8px 120px;
  background-color: #033730;
  color: white;
  align-items: center;
  font-size: 14px;
}

.firstheaderrow a {
  text-decoration: none;
  color: white;
}

.secondheaderrow {
  padding: 10px 120px;
  color: black;
  align-items: center;
}

.secondheaderrow img {
  width: 45%;
  height: auto;
}

.sclmobmenu {
  display: none;
}

.sclwebmenu button {
  font-size: 16px;
  font-weight: 600;
}

.sclwebmenu a {
  text-decoration: none;
  color: black;
}

@media only screen and (max-width: 1160px) {
  .secondheaderrow {
    padding: 10px 60px;
  }
  .firstheaderrow {
    padding: 8px 60px;
    font-size: 12px;
  }

  .secondheaderrow img {
    width: 75%;
  }

  .sclwebmenu button {
    font-size: 14px;
  }
}

@media only screen and (max-width: 992px) {
  .mobhide,
  .sclwebmenu {
    display: none;
  }
  .sclmobmenu {
    display: block;
  }

  .firstheaderrow {
    padding: 10px 120px 10px 250px;
  }

  .secondheaderrow {
    padding: 10px 120px;
  }

  .secondheaderrow img {
    width: 40%;
  }

  .sclmobmenu a {
    text-decoration: none;
    color: white;
  }

  .mobmenubar i{
    color: black;
  }

  .sclmobmenu li {
    list-style-type: none;
    margin-bottom: 10px;
  }

  .mobmenulist {
    padding-bottom: 10px;
    border-bottom: 1px solid #033730;
  }

  .headcontactlist {
    padding: 20px 0px;
  }

  .offcanvasstyle {
    background-color: #8a7252;
    color: white;
    text-align: left;
  }

  .offcanvas-header {
    justify-content: flex-end;
  }

  .offcanvas-title {
    text-align: center;
  }

  .accordion,
  .accordion-button {
    padding: 0px !important;
  }

  .accordion-item {
    border: none;
    background-color: #8a7252 !important;
  }

  .accordion-button,
  .accordion-button:not(.collapsed) {
    background-color: #8a7252 !important;
    color: white;
    margin-bottom: 10px;
  }
}

@media only screen and (max-width: 600px) {
  .firstheaderrow {
    padding: 10px 100px 10px 200px;
  }

  .secondheaderrow {
    padding: 10px 100px;
  }

  .secondheaderrow img {
    width: 65%;
  }
}

@media only screen and (max-width: 450px) {
  .firstheaderrow,
  .secondheaderrow {
    padding: 10px 60px;
  }

  .secondheaderrow img {
    width: 70%;
  }
}

/* header style end */

/* footer style */
.footerbody {
  background-color: #033730;
  color: white;
  padding: 80px 120px 30px 120px;
}

.footerbody h5 {
  text-transform: uppercase;
  font-weight: 600;
}

.footercont {
  padding-top: 10px;
  padding-right: 30px;
  margin-bottom: 30px;
}

.footercont li {
  list-style-type: none;
  padding-bottom: 10px;
}

.footercont a {
  text-decoration: none;
  color: white;
}

.footercont i {
  font-size: 20px;
  margin-right: 25px;
  margin-top: 10px;
}

.copyright {
  text-align: center;
  background-color: #033730;
  color: white;
  padding: 20px 120px 5px 120px;
  font-weight: 600;
  border-top: 1px solid #d5b4b4;
}

@media only screen and (max-width: 600px) {
  .footerbody {
    padding: 50px 80px 30px 80px;
  }
  .copyright {
    padding: 20px 50px 5px 50px;
  }
}

@media only screen and (max-width: 350px) {
  .footerbody {
    padding: 50px 50px 30px 50px;
  }
}

/* footer style end */

/* home banner style */

.sclbannerdiv {
  width: 100%;
  height: 450px;
  background-size: cover;
  background-position: center;
}

.overlay {
  background: #0337306e;
  text-align: center;
  width: 100%;
  height: 450px;
  color: white;
}

.bannercontent {
  top: 40%;
  left: 50px;
  position: absolute;
}

.bannercontent h1 {
  font-weight: 600;
  margin-bottom: 50px;
  font-size: 70px;
  letter-spacing: 2px;
}

@media only screen and (max-width: 800px) {
  .sclbannerdiv {
    height: 500px;
  }
  .overlay {
    height: 500px;
  }
  .bannercontent h1 {
    font-size: 45px;
  }
}

@media only screen and (max-width: 490px) {
  .sclbannerdiv {
    height: 400px;
  }
  .overlay {
    height: 400px;
  }
  .bannercontent {
    left: 20px;
  }
  .bannercontent h1 {
    font-size: 30px;
  }
}

/* home banner style end */

/* home content style */

.sclintro {
  padding: 100px 120px 40px 120px;
  background-color: white;
  transform: translateY(-10px);
}

.sclintro h5 {
  color: #8a7252;
  font-weight: 900;
  padding-left: 10px;
  border-left: 5px solid #8a7252;
}

.sclintro h1 {
  text-transform: uppercase;
}

.sclintro p {
  margin-bottom: 30px;
}

.sclintro span {
  background-color: #8a7252;
  padding: 10px 30px;
  border-radius: 5px;
}

.sclintro a {
  text-decoration: none;
  color: white;
  display: inline-block;
  transition: all 0.3s ease;
}

.sclintro a:hover {
  transform: translateX(6px);
}

.educationctgry {
  padding: 40px 120px 40px 120px;
}

.educationctgry h5 {
  color: #8a7252;
  font-weight: 900;
  padding-left: 10px;
  border-left: 5px solid #8a7252;
}

.educationctgrylist {
  padding: 20px;
}

.educationctgrydetail {
  background-color: #8a7252;
  padding: 15px;
  margin-bottom: 25px;
  color: white;
}

.educationctgrydetail a {
  text-decoration: none;
  color: white;
  font-weight: 600;
  display: inline-block;
  transition: all 0.3s ease;
}

.educationctgrydetail a:hover {
  transform: translateX(6px);
  /* color: #033730; */
}

.sclfeature {
  padding: 10px 120px 100px 120px;
  background-color: #033730 ;
  color: white;
}

.sclfeature h5 {
  font-weight: 900;
  padding-left: 10px;
  border-left: 5px solid white;
}

.sclfeaturebox {
  padding: 0px 40px;
}

.sclfeaturelist {
  text-align: center;
}

.sclfeaturelist img {
  width: 40%;
  border-radius: 200px;
  transform: translateY(50px);
}

.sclfeaturedetail {
  background-color: #8a7252;
  padding: 60px 20px 10px 20px;
  border-radius: 20px;
}

.awardssection{
  padding: 100px 120px 80px 120px;
  background-color: white;
  transform: translateY(-10px);
}

.awardtitle h5 {
  color: #8a7252;
  font-weight: 900;
  padding-left: 10px;
  border-left: 5px solid #8a7252;
}

.awardtitle h1{
  margin-bottom: 80px;
}

.awardssection img{
  padding-bottom: 20px;
}

@media only screen and (max-width: 1080px) {
  .sclintro {
    padding: 100px 80px 40px 80px;
  }
  .educationctgry {
    padding: 40px 80px 40px 80px;
  }
  .sclfeature {
    padding: 100px 80px 100px 80px;
  }
  .sclfeaturedesptn{
    margin-top: 50px;
  }
  .awardssection{
    padding: 100px 80px 80px 80px;
  }
}

@media only screen and (max-width: 700px) {
  .educationctgrylist {
    padding: 0px;
    padding-top: 20px;
  }
  .sclintro {
    padding: 80px 50px 0px 50px;
  }
  .educationctgry {
    padding: 15px 50px 40px 50px;
  }
  .sclintro p,
  .educationctgry p,
  .sclfeaturedesptn p {
    text-align: justify;
  }
  .sclfeature {
    padding: 100px 50px 100px 50px;
  }
  .awardssection{
    padding: 100px 50px 80px 50px;
  }
  .awardtitle h1{
    margin-bottom: 40px;
  }
}

@media only screen and (max-width: 400px) {
  .sclintro {
    padding: 80px 30px 0px 30px;
  }
  .educationctgry {
    padding: 15px 30px 40px 30px;
  }
  .sclfeature {
    padding: 100px 30px 100px 30px;
  }
  .awardssection{
    padding: 100px 30px 80px 30px;
  }
}


.latestnews {
  padding: 50px 10px 20px 20px;
  background-color: #8a7252;
}

.latestnewstitle {
  padding: 20px 150px 40px 120px;
  color: white;
  align-items: center;
}

.latestnewstitle h1 {
  padding-top: 8px;
}

.newsbtn {
  text-align: right;
}

.newsbtn span {
  background-color: white;
  padding: 10px 30px;
  border-radius: 5px;
}

.newsbtn a {
  text-decoration: none;
  color: #8a7252;
  display: inline-block;
  transition: all 0.3s ease;
}

.newsbtn a:hover {
  transform: translateX(6px);
}

.imazezoom {
  position: relative;
  width: 100%;
  height: 350px;
  overflow: hidden;
}

.imazezoom img {
  width: 100%;
  height: 350px;
  object-fit: cover;
  transition: transform 1.8s ease;
}

.imazezoom:hover img {
  transform: scale(1.3);
}

.newsoverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.311); /* Overlay color with transparency */
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1; /* Initially hidden */
  transition: opacity 0.5s ease;
}

.imazezoom:hover .newsoverlay {
  background: #03373060;
}

.newscontent {
  bottom: 10%;
  left: 5%;
  right: 15%;
  position: absolute;
  color: white;
}


.owl-nav {
  display: block;
  transform: translateY(-220px);
  display: flex !important;
  justify-content: space-between !important;
}

.owl-dots {
  display: none;
}

.owl-prev,
.owl-next {
  font: initial !important;
}

.owl-prev span,
.owl-next span {
  padding: 0px 10px 5px 10px !important;
  background-color: #bebdbd !important;
  font-size: 30px;
}

@media only screen and (max-width: 750px){
  .latestnewstitle {
    padding: 20px 70px 40px 70px;
  }
  
}

@media only screen and (max-width: 575px){
  .newsbtn, .latestnewstitle {
    text-align: center;
  }
  .newsbtn{
    margin-top: 10px;
  }
}

/* home content style end */

/* about us page style */

.aboutintro{
  padding: 100px 120px 40px 120px;
  background-color: white;
  transform: translateY(-10px);
}
.aboutintrocont h5 {
  color: #8a7252;
  font-weight: 900;
  padding-left: 10px;
  border-left: 5px solid #8a7252;
}
.aboutintrocont h1{
  padding: 15px 0px;
}

.sclmission{
  padding: 140px 120px 100px 120px;
  background-color: #033730;
  color: white;
}

.sclmissiondiv{
  padding: 15px;
}

.sclmissiondiv h3 {
  font-weight: 900;
  padding-left: 10px;
  border-left: 5px solid #ffff;
  margin-bottom: 20px;
}

.sclmissiondiv p{
  text-align: justify;
  font-weight: 500;
}

.sclmsg{
  padding: 80px 120px 80px 120px;
}

.imagedetail{
  padding-top: 20px;
  text-align: center;
}

.sclmsgcont{
  padding: 0px 80px;
}

.testimonialdiv{
  padding: 50px 100px 20px 100px;
  background-color: #8a7252;
  color: white;
}

.testimonialdiv h1{
  text-align: center;
  margin-bottom: 30px;
}

.owl-carouseltestimonial .item{
  padding: 0px 60px 0px 60px;
}

.testimonialcont{
  padding: 0px 30px 0px 10px;
}

.testimonialcont h5{
  font-family: "Patrick Hand", cursive;
  font-size: 1km;
  font-weight: 600;
}



@media only screen and (max-width: 1080px) {
  .aboutintro {
    padding: 100px 80px 40px 80px;
  }
  .sclmission{
    padding: 140px 80px 100px 80px;
  }
  .sclmsg{
    padding: 80px 80px 80px 80px;
  }
  .sclmsgcont{
    padding: 20px 30px 0px 30px;
  }
  .testimonialdiv{
    padding: 50px 50px 20px 50px;
  }
  .testimonialcont{
    padding: 0px 0px 20px 0px;
  }  
}

@media only screen and (max-width: 991px){
  .owl-carouseltestimonial .owl-nav {
    transform: translateY(-320px);
  }
}

@media only screen and (max-width: 700px) {
  .aboutintro {
    padding: 80px 50px 40px 50px;
  }
  .aboutintrocont p, .sclmsgcont p, .testimonialcont p{
    text-align: justify;
  }
  .sclmission{
    padding: 50px 50px 50px 50px;
  }
  .sclmsg{
    padding: 80px 50px 80px 50px;
  }
  .sclmsgcont{
    padding: 20px 0px 0px;
  }
  .testimonialdiv{
    padding: 50px 10px 20px 10px;
  }
  .owl-carouseltestimonial .item{
    padding: 0px 45px 0px 45px;
  }
}

@media only screen and (max-width: 400px) {
  .aboutintro {
    padding: 40px 30px 30px 30px;
  }
  .sclmission{
    padding: 50px 30px 50px 30px;
  }
  .sclmsg{
    padding: 80px 30px 80px 30px;
  }
}

/* about us page style end */

/* education page style */

.educationbody{
  padding: 100px 120px 60px 120px;
}

.educationcontloop{
  padding-top: 40px;
}

.educationcontloop .row{
  margin-bottom: 30px;
  align-items: center;
}

.edctnmob{
  display: none;
}


@media only screen and (max-width: 1080px) {
  .educationbody {
    padding: 100px 80px 60px 80px;
  } 
}

@media only screen and (max-width: 992px){
  .edctnmob{
    display: block;
  }
  .edctnweb{
    display: none;
  }
  .edctncontentimg{
    margin-bottom: 20px;
  }
}

@media only screen and (max-width: 700px) {
  .educationbody {
    padding: 80px 50px 40px 50px;
  }
  .educationbody p{
    text-align: justify;
  }
}

@media only screen and (max-width: 400px) {
  .educationbody {
    padding: 40px 30px 30px 30px;
  }
}

/* education page style end */

/* Our campus style start  */

.campusbody{
  padding: 80px 120px 80px 120px;
}

.campustab {
  float: left;
  width: 100%;
}

.campustab button {
  display: block;
  color: black;
  padding: 22px 16px;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
  font-size: 17px;
}

.campustab button:hover {
  background-color: #03373044;
}

.campustab button.active {
  background-color: #033730;
  color: white;
}

.campustabcontent {
  float: left;
}

#campusDropdown{
  display: none;
}

@media only screen and (max-width: 1080px) {
  .campusbody {
    padding: 80px 80px 80px 80px;
  } 
}

@media only screen and (max-width: 767px){
  #campusDropdown{
    display: block;
    background-color: #033730;
    color: white;
    width: 100%;
    padding: 15px 10px;
    margin-bottom: 20px;
  }
  .campustab{
    display: none;
  }
}

@media only screen and (max-width: 700px) {
  .campusbody {
    padding: 80px 50px 80px 50px;
  }
  .campusbody p{
    text-align: justify;
  }
}

@media only screen and (max-width: 400px) {
  .campusbody {
    padding: 40px 30px 40px 30px;
  }
}

/* Our campus style end */

/* news/blog style */

.blogbody{
  padding: 80px 120px 80px 120px;
}

.blogbody h1{
  text-align: center;
  font-size: 50px;
  color: #033730;
  margin-bottom: 30px;
}

.blognewsdiv{
  margin-bottom: 20px;
}

@media only screen and (max-width: 1080px) {
  .blogbody {
    padding: 80px 80px 80px 80px;
  } 
}

@media only screen and (max-width: 700px) {
  .blogbody {
    padding: 80px 50px 80px 50px;
  }
}

@media only screen and (max-width: 400px) {
  .blogbody {
    padding: 40px 30px 40px 30px;
  }
}

/* news/blog style end */